@import "themes/nord.css";

/* ===== Base Styling ===== */
* {
  border: none;
  font-family: "Noto Mono", FontAwesome, sans-serif;
  font-size: 14px;
  min-height: 0;
  margin: 0.2em 0.3em 0.2em 0.3em;
  font-weight: bold;
}

window#waybar {
  background: @bg;
  color: @light;
}

/* ===== Common Module Styling ===== */
#mode,
#mpd,
#custom-media,
#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#disk,
#tray,
#temperature,
#custom-ws-info {
  padding: 4px 8px;
  margin: 4px;
  background-color: @nord_bg;
  border-radius: 4px;
}

/* ===== Workspaces Styling ===== */
#workspaces button {
  opacity: 0.3;
  background: none;
  padding: 0;
  margin: 0 4px;
}

#workspaces button.focused {
  background: @workspacesfocused;
  color: #D8DEE9;
  opacity: 1;
}

#workspaces button.urgent {
  border-color: #c9545d;
  color: #c9545d;
  opacity: 1;
}

/* ===== Module-Specific Colors (Border & Text) ===== */
#mode {
  color: @light;
  background: @mode;
}

#clock {
  background: @nord_bg_blue;
  color: #D8DEE9;
}

#clock.date {
  background: @date;
}

#clock.time {
  background: @mode;
}

#network {
  background: @nord_bg_blue;
}

#network.disconnected {
  color: @critical;
}

#pulseaudio {
  background: @nord_bg_blue;
  color: #D8DEE9;
}

#pulseaudio.muted {
  background: #BF616A;
  color: #BF616A;
}

#tray {
  background: none;
}

#custom-spotify {
  color: #1db954;
  margin: 0px 4px;
}

